@use '../variables' as v;

.banner-index {
    border-bottom-right-radius: v.$border-radius;
    border-bottom-left-radius: v.$border-radius;
    position: relative;
    padding-bottom: 12px;
}
.banner-index-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}