.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
.bottom-navigation {
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 24px;
}
